@import "variables";

//mixins
@mixin requestLink{
    color: $white;
    text-transform: capitalize;
    a{
        background: linear-gradient(90deg, $limeGreen, $brightCyan);
        padding: 1em 2em;
        font-size: 1em;
        border-radius: 30px;
        font-weight: 200;
        letter-spacing: .03rem;
        color: $white;
        text-decoration: none;
        transition: .3s;
        @include mQ(1200px){
            padding: .9em 1.8em;
            font-size: .9rem;
        }
        &:hover{
            opacity: .7;
        }
    }
}

@mixin articles-component{
    width: 23%;
    border-radius: 10px;
    overflow: hidden;
    background-color: $white;
    img{
        width: 100%;
        height: 50%;
        object-fit: cover;
        @include mQ(1200px){
            height: 35%;
        }
    }
    div{
        padding: 1.5em 1em;
        p{
            &:nth-child(1){
                font-size: .7rem;
                color: $greyishBlue;
                @include mQ(1200px){
                    font-size: .6rem;
                }
            }
        }
        h5{
            font-size: 1.2rem;
            margin: .5em 0;
            color: $darkBlue;
            transition: all .4s;
            width: 95%;
            @include mQ(1200px){
                width: 95%;
                font-size: 1em;
            }
            &:hover{
                color: $limeGreen;
            }
        }
        p{
            &:nth-child(3){
                line-height: 1.4em;
                color: $greyishBlue;
                width: 98%;
                @include mQ(1200px){
                    width: 100%;
                    font-size: .9rem;
                }
            }
        }
    }
    
}

@mixin mQ($arg) {
    @media screen and (max-width: $arg){
        @content;
    }
}
// end of mixinss

*{
    box-sizing: border-box;
    font-family: $publicSansFont;
}

        // header

header{
    width: 100%;
    height: 43em;
}

body{
    max-width: 1440px;
    margin: 0 auto;
}

    // navigation and logo

.navigation{
    width: 90%;
    margin: 0 auto;
    padding: 2em 0;
    display: flex;
    justify-content: space-between;
    background-color: $white;
    position: sticky;
    @include mQ(1200px){
        padding: 1.7em 0;
    }
}

.hamburger{
    display: none;
}

.logo{
    width: 15%;
    @include mQ(1200px){
        width: 14%;
    }
    img{
        width: 100%;
    }
}

body > header > nav > div.nav_links > div > a:nth-child(1){
    display: none;
}

.nav_links{
    width: 75%;
    display: flex;
    justify-content: space-around;
    @include mQ(1200px){
        width: 79%;
    }
    ul{
        list-style-type: none;
        display: flex;
        margin: 0;
        padding: 0;
        li{
            padding: 0 1em;
        }
        a{
            color: $greyishBlue;
            text-decoration: none;
            font-weight: 500;
            padding: 2em 0;
            border-bottom: 3px solid transparent;
            transition: 1s;
            @include mQ(1200px){
                padding: 1em 0;
            }
            &:hover{
                color: $darkBlue;
                border-bottom: 3px solid transparent;
                border-image: linear-gradient(90deg, $limeGreen, $brightCyan);
                border-image-slice: 1;
            }
        }
    }
}   // end of navigation


    // request invite 
.request_invite_link{
    @include requestLink;
} // end of request invite

        // hero section
        
div.hero{
    width: 100%;
    background: url("../images/bg-intro-desktop.svg") no-repeat;
    background-size: 80%;
    background-position: 210% 340%;
    overflow-x: hidden;
    @include mQ(1200px){
        background-position: 220% 670%;
    }
}

div.hero > div{
    width: 90%;
    margin: 0 auto;
    display: flex;
}

div.hero-content{
    width: 50%;
    padding: 7em 0;
    @include mQ(1200px){
        padding: 3em 0;
    }
    h1{
        font-size: 3.5rem;
        color: #2d314d;
        font-weight: 500;
        width: 90%;
        margin-top: 0;
        @include mQ(1200px){
            font-size: 2.5rem;
            margin-top: 1em;
        }
    }
    p{
        font-size: 1.3rem;
        font-weight: 500;
        color: $greyishBlue;
        line-height: 1.4em;
        margin: 0 0 3em;
        width: 90%;
        @include mQ(1200px){
            font-size: 1em;
            width: 100%;
        }
    }
}

div.hero-img{
    right: -15%;
    width: 60%;
    top: -7rem;
    position: relative;
    @include mQ(1200px){
        top: -5rem;
        width: 65%;
    }
    img{
        width: 100%;
    }
}

main{
    margin-bottom: 1em;
    @include mQ(1200px){
        position: relative;
        top: -10em;
        z-index: -2;
    }
}

div.easybank_choose{
    background-color: $lightGrayishBlue;
    padding: 4em;
    h2{
        font-size: 2.5rem;
        color: #2d314d;
        font-weight: 500;
        margin: .5em 0;
        @include mQ(1200px){
            font-size: 2rem;
        }
    }
    p{
        max-width: 50%;
        line-height: 1.3em;
        color: #9698a6;
        font-size: 1.1rem;
        @include mQ(1200px){
            font-size: .9rem;
            max-width: 60%;
        }
    }
}

div.options{
    display: flex;
    justify-content: space-between;
    padding: 3em 0 0;
    width: 100%;
}

div.options_content{
    width: 25%;
    
    img{
        @include mQ(1200px){
            width: 25%;
        }
    }
    h4{
        margin: 2em 0;
        color: $darkBlue;
        @include mQ(1200px){
            margin: 1.5em 0;
        }
    }
    p{
        line-height: 1.5em;
        color: $greyishBlue;
        max-width: 88%;
        @include mQ(1200px){
            max-width: 94%;
            font-size: .8rem;
        }
    }
}

div.articles{
    padding: 4em;
    background-color: $veryLightGray;
    h2{
        font-size: 2.4rem;
        margin: 1em 0;
        color: #2d314d;
        font-weight: 500;
        @include mQ(1200px){
            font-size: 2.1rem;
        }
    }
}

div.articles-details{
    display: flex;
    justify-content: space-between;
}

div.articles-component{
    @include articles-component
}

footer{
    background: $darkBlue;
}

div.footer-content{
    display: flex;
    justify-content: space-between;
    padding: 2em 4em;
}

div.first-footer-content {
    display: flex;
    justify-content: space-between;
    width: 55%;
}

div.footer-logo{
    display: flex;
    justify-content: space-between;
    flex-direction: column; 
}

div.socials{
    display: flex;
    justify-content: space-between;
    margin-top: 3em;
    .icon{
        cursor: pointer;
        path{
            fill: #fff;
            transition: all .5s;
            &:hover{
                fill: $limeGreen;
            }
        }
    }
}

div.footer-links-content{
    a{
        color: #fff;
        text-decoration: none;
        transition: all .4s;
        &:hover{
            color: $limeGreen;
        }
    }
}

div.footer-links{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

div.footer-links-content{
    display: flex;
    flex-direction: column;
    a{
        margin: .5em 0;
    }
}

div.second-footer-content{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    div{
        margin: 1em 0 1.3em 8em;
    }
    p{
        color: $greyishBlue;
        margin-left: 4em;
    }
}





















